/*COLORS*/
$color-primary: #ECB366;
$color-primary-light: #074763;
$color-primary-dark: #0022ff;
$color-primary-grey: #777;

$color-secondary-light: #eab676;
$color-secondary-dark: #e28743;
$color-tertiary-light: #2998ff;


$color-tertiary-dark:#808080;
$color-tertiary-light:#ff0000;

$color-danger:#ff0000;

$color-grey-dark: #999;



$color-white: #fff;
$color-black: #000;
$color-grey-light-1:#f7f7f7;
/*FONT*/
$default-font-size:1.6rem;


/*GRID*/
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:8rem;
